

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.rammi div {
    border: 1px dashed var(--nc-lk-1);
    text-align: center;
    padding: .5rem 0;
}




@media screen and (min-width: 60rem) {
    .container {
        max-width: 60em;
        margin: 0 auto;
        padding: 0;
    }
    .col-1,
    .col-2,
    .col-4,
    .col-3,
    .col-5,
    .col-6 {
        gap: 2rem;
        margin-bottom: 2rem;
    }
}





